@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: rgb(5, 5, 5);
  min-height: 100vh;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgb(5, 5, 5);
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(82, 82, 82);
  justify-content: center;
  margin: auto;
}

.nav-list {
  justify-content: center;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
.nav-list > li {
  color: aliceblue;
  list-style: none;
  padding: 25px;
}
.nav-list > li > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.25rem;
}
.nav-list > li > a > span {
  color: #ff3a5e;
}
section {
  height: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name_name {
  font-size: 3.5rem;
  font-weight: 600;
  margin: auto;
}
.name_name > span {
  color: #ff3a5e;
}
.name_p {
  font-size: 2rem;
  margin: auto;
  font-weight: 300;
}
.name_p > span {
  color: #ff3a5e;
}
.projects_section,
.contact_section {
  background-color: #0e0e1c;
}
.projects_div {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.projects_div > h2 {
  margin: auto;
  font-size: 2.5rem;
}
.projects {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.projects_div > h2 > span {
  color: rgb(255, 58, 94);
  color: rgb(250, 57, 130);
  color: rgb(250, 57, 160);
  color: #f339fa;
}

.single_project {
  padding: 20px;
  background-color: rgb(5, 5, 5);
  width: 350px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: auto;
}
.single_project > img {
  width: 308px;
}
.single_project > h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.live,
.code {
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 5px;
}
.resume_contact_section {
  display: flex;
  flex-direction: row;
}
.resume_contact_section > div {
  flex: 0.5;
}
.resume {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: auto;
}
.resume > h1 {
  margin: auto;
}
.resume > img {
  margin: auto;
  width: 350px;
  height: 500px;
}
.download {
  margin: auto;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 5px;
  width: 150px;
}
.contact {
  width: 100%;
  padding-top: 120px;
  height: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .nav-list {
    display: none;
  }
}
